<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CrowdFund Home</title>
    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px 0;
        }

        a {
            text-decoration: none;
            color: blue;
        }

        a:hover {
            text-decoration: underline;
        }

        .admin-link {
            color: red;
        }
    </style>
</head>
<body>
<h1>CrowdFund 서비스에 오신 것을 환영합니다</h1>

<div sec:authorize="isAuthenticated()">
    <p><span sec:authentication="name">사용자</span>님 환영합니다!
        <!-- Spring Security는 정상 로그인 성공 시 UserDetail인터페이스의 구현체의 클래스명을 SecurityUser로 설정한다.
            그러므로 정상 로그인한 사용자인지 확인하기 위해 authentication.principal.getClass().getSimpleName()이 SecurityUser인지 비교하는 것이다. -->
        <span sec:authorize="${#authentication.principal.getClass().getSimpleName() == 'SecurityUser'}">
               (닉네임: <span sec:authentication="principal.nickname">닉네임</span>)
           </span>
        <span sec:authorize="hasRole('ADMIN')" style="color: red; font-weight: bold;">[관리자 계정]</span>
    </p>
    <form th:action="@{/auth/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>

<h2>메뉴</h2>
<ul>
    <li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}">로그인</a></li>
    <li sec:authorize="isAnonymous()"><a th:href="@{/auth/signup}">회원가입</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/users/me}">내 정보 관리</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/pledges/me}">내 후원 목록</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/creator/projects/me}">내 프로젝트 관리 (리워드 관리 포함)</a></li>
    <li><a th:href="@{/projects}">프로젝트 목록 보기 (리워드 상세 포함)</a></li>
    <li><a th:href="@{/categories}">카테고리 목록 보기</a></li>
</ul>

<hr/>

<div sec:authorize="hasRole('ADMIN')">
    <h2>관리자 메뉴</h2>

    <ul>
        <li><a th:href="@{/admin/categories}" class="admin-link">카테고리 관리</a></li>
        <li><a th:href="@{/admin/pledges}" class="admin-link">전체 후원 관리</a></li>
    </ul>
    <hr/>
</div>
</body>
</html>
